@font-face {
    font-family: "Jaldi";
    src: url('Jaldi/Jaldi-Regular.ttf');
  }
  
  @font-face {
    font-family: "JaldiBold";
    src: url('Jaldi/Jaldi-Bold.ttf');
  }
  
  i{
    color: white;
    width: 20px;
    height: 20px;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(images/Girl\ in\ orange\ jacket.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    scroll-behavior: none;
  }
  
  .wrapper{
    width: 100vw;
    height: 100vh;
  }
  
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: darkslategray;
    min-height: 120px;
    text-decoration: none;
    font-size: 20px;
  }
  
  header>nav{
    flex-grow: 1;
  }
  
  header>nav.center-logo{
    flex-grow: 0;
  }
  
  header a{
    font-family: "Jaldi";
    color: beige;
    font-size: 20px;
    text-decoration: none;
  }
    
  .left-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .center-logo {
    height: 120px;
    width: auto;
  }
    
    .icons {
      display: flex;
      align-items: center;
    }
    
    .cart-icon, .search-icon, .profile-icon {
      margin-left: 20px;
    }
    
  
  main {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    height: 50vh;
    padding: 0 50px;
    width: calc(100vw - 100px);
    display: block;
  }
    .main {
      background-color: rgba(165, 166, 145, 0.701);
      flex-direction: row;
      display: flex;
      justify-content: space-evenly;
  }
  
    .image {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    main h1 {
      font-family: "Jaldi";
      color: rgb(255, 255, 255);
      text-align: center;
    }
    main p {
      font-family: "Jaldi";
      color: rgb(255, 255, 255);
      text-align: justify;
    }
    .shopNow {
      display: block;
      background-color: rgb(113, 102, 87);
      border: 2px solid rgb(51, 46, 38);
      border-radius: 10px;
      font-family: "Jaldi";
      color: rgb(255, 255, 255);
      font-size: 15px;
      width: 100%;
  
    }
  
  
  
  
  
  
  
  
  
  
  
  footer {
    background-color:  darkslategray;
    width: 100vw;
    position: absolute;
    bottom: 0;
  
    /* grid-template-rows: 1fr; */
  }
  
  footer a {
    font-family: "Jaldi";
    color: rgb(5, 35, 43);
    font-size: 20px;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  .nav-column>ul>li:nth-child(1)>a{
    font-family: "JaldiBold";
    color:rgb(5, 35, 43);
    font-size: 20px;
    text-decoration: none;
  }
  
  
  .columns {
    /* display: flex;
    gap: 100px;
    font-size: 16px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .contact {
    grid-column: 4/5;
    text-align: center;
  }
  
  .newsletter {
    grid-column: 6/7;
    align-self: end;
  }
  
  .location {
    grid-column: 7/8;
    align-self: end;
  }
  
  .newsletter>div>a{
    display: block;
  }
  
  .newsletter>div{
    display: inline-block;
  }
  
  
  .newsletterButton{
    display: block;
    background-color: rgb(22, 63, 71);
    border: 2px solid rgb(5, 35, 43);
    border-radius: 10px;
    font-family: "Jaldi";
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
  }

  