img {
    RainyDays_Logo.png
    position: absolute;
    width: 248px;
    height: 135px;
    left: 580px;
    top: 15px;
    filter: invert(100%) brightness(100%);
}
header {
    text-align: center
}