.button  {
  border-radius: 30px;
  padding: 6px 22px;
  text-decoration: none;
  color: #eaeaea;
  background-color: #0A3641;
  border: none;
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}

.button:hover {
  background-color: #327c94;
}

.button--brown {
  border: 2px solid #524a3b;
  background: #716657;
}

.button--big {
  padding: 8px 32px;
  font-size: 24px;
}

.button--transparent {
  background-color: rgba(255, 255, 255, 0.5);
  color: #0A3641;
}

.button--transparent:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.price-button {
  display: block; 
  padding: 6px 22px;
  margin: 20px auto; 
  color: #eaeaea;
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #0A3641;
  border-radius: 30px;
  border: none;
}